.back-button {
  position: fixed;
  top: 50px;
  left: 70px;
  background: transparent;
  border: 2px solid #e3e3e3;
  color: #e3e3e3;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #e3e3e3 0 0 25px -10px;
  transition: 0.3s;
}
.back-button:hover {
  background: #e3e3e3;
  color: black;
}
.Results{
  width:80vw;
}