.segment {
  width: 80vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  text-align: center;
}

.segment h1 {
  margin-bottom: 50px;
  font-size: 50px;
  user-select: none;
}
.stations-button {
  position:absolute;
  right:50px;
  top:40px;
  width: 150px;
  height: 30px;
}
.inputs {
  width: 80vw;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.inputs input {
  height: 50px;
  width: 30vw;
  min-width: 300px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
}
.inputs input:nth-of-type(2) {
  margin-left: 2vw;
}

.segment #SearchRouteBtn {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  font-size: 25px;
  color: white;
  background-color: #4d4dff;
  box-shadow: #40a4ff 0 0 5px;
  border: none;
  cursor: pointer;
}
.segment .stations-button {
  background: none;
  border: none;
  height: 50px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  vertical-align: center;
}

.segment .stations-button span {
  transition: 0.1s;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.segment .stations-button span:hover {
  text-shadow: #ffffff 0 0 8px;
}

.segment .stations-button img {
  width: 30px;
  height: 30px;
  fill: white;
  margin-top: 10px;
  float: left;
  margin-left: 30px;
}

@media only screen and (max-width: 1024px) {

  .inputs input:nth-of-type(2) {
    margin-left: 0;
    margin-top:10px;
  }
  .segment #SearchRouteBtn {
    margin-top: 70px;
  }
  .segment h1{
    font-size:30px;
  }
}